{% extends "base.html" %}
{% block title %}Категории{% endblock %}

{% block content %}
<h1>Категории</h1>
<a class="btn" href="{{ url_for('categories.create') }}">+ Добавить</a>
<table>
    <tr><th>Название</th><th>Тип</th><th></th></tr>
    {% for c in categories %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ "Доход" if c.type.value == "income" else "Расход" }}</td>
        <td>
            <form method="post" action="{{ url_for('categories.delete', category_id=c.id) }}"
                  onsubmit="return confirm('Удалить?')">
                <button class="btn-danger">×</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
